<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f9662103-0539-4712-a842-048db00ccb94/resourceGroups/DB/providers/Microsoft.Web/sites/DigipetsWebAPI</ResourceId>
    <ResourceGroup>DB</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://digipetswebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90272343-ba98-43df-b540-271efc0bbfe0</ProjectGuid>
    <PublishUrl>https://digipetswebapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DigipetsWebAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>