::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
::ng-deep .mat-horizontal-stepper-wrapper {
  margin: 3px;
}
.bg-auth {
  height: 100%;
  background: rgb(39, 58, 255);
  background: linear-gradient(
    176deg,
    rgba(39, 58, 255, 1) 12%,
    rgba(4, 170, 255, 1) 69%
  );
}

@media (min-width: 640px) {
  .auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 639px) {
  .container {
    height: 25%;
  }
  .auth {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .auth-container {
    width: 100%;
    height: 75%;
    background: #fff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: -1px 0px 5px 1px #2d2e2e;
  }
}
